<DOCTYPE! html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Vaiko Villiam Tuul</title>
	<link rel="stylesheet" href="/style/gallery.css">
	<link rel="stylesheet" href="/style/modal.css">
	<script src="/script/gallery.js" defer></script>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="VP 2024 bänner">
	<h1>Vaiko Villiam Tuul</h1>
	<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali</p>
	<hr>
	<ul>
	   <li><a href="/home">Avalehele</a></li>
	   <li><a href="/timenow">Ajainfo</a></li>
	   <li><a href="/vanasonad">Vanasõnad</a></li>
	   <li><a href="/regvisit">Regristreeri oma külastus</a></li>
	</ul>
	<hr>
	<dialog id="modal" class="modalarea">
		<span id="modalClose" class="modalclose">&times;</span>
		<div class="modalhorizontal">
			<div class="modalvertical">
				<p id="modalCaption"></p>
				<img id="modalImage" src="/pics/empty.png" alt="galeriipilt">
			</div>
		</div>
	</dialog>
	<h2>Fotogalerii</h2>
	<p><%- links %></p>
	<div class="gallery">
	  <% listData.forEach(function(image){ %>
	   <img src="<%= image.href %><%= image.filename %>" alt="<%= image.alt %>" data-filename="<%= image.filename %>" data-id="<%= image.id %>" class="thumbs">
	  <% }); %>
	</div>
</body>
</html>